//Colors
$darkShade-100: rgba(31, 32, 65, 1);
$darkShade-75: rgba(31, 32, 65, .75);
$darkShade-50: rgba(31, 32, 65, .5);
$darkShade-25: rgba(31, 32, 65, .25);
$darkShade-5: rgba(31, 32, 65, .05);
$purple: rgb(188, 156, 255);
$green: rgb(111, 207, 151);

//Types
$fontSize-title-1: 1.2rem;
$lineHeight-title-1: 1.463rem;
$fontSize-title-2: 0.95rem;
$lineHeight-title-2: 1.158rem;
$fontSize-title-3: 0.6rem;
$lineHeight-title-3: 0.7315rem;

$fontSize-main-text: 0.7rem;
$lineHeight-main-text: 1.2rem;

//Font-weight
$fontWeight-regular: 400;
$fontWeight-bold: 700;