.quatrain {
  &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 100px;
    min-height: 515px;
  }
  &__img {
    max-width: 340px;
    max-height: 100%;
    object-fit: cover;
  }
  &__title {
    margin: 0;
  }
  &__subheader {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }
  &__wrapper {
    display: flex;
    margin-top: 50px;
  }
  &__btn {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
  }
}





